In [27]:
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error

In [28]:
route = pd.read_csv("/content/drive/MyDrive/Dataset/upa/preprocess/C-001_route2.csv",index_col=0,parse_dates=["Date from","Date to"])
env = pd.read_csv("/content/drive/MyDrive/Dataset/upa/C-001_env.csv",parse_dates=["Date"])
route = route.iloc[:159,:]
env.drop("No.",axis=1,inplace=True)
env.set_index("Date",inplace=True)

In [29]:
route.head()

            Date from             Date to  ...  Avg. Speed Avg. Win Speed
0 2018-01-01 21:30:00 2018-01-03 10:19:00  ...        14.5            5.1
1 2018-01-03 10:19:00 2018-01-05 11:15:00  ...         5.0            3.6
2 2018-01-05 11:15:00 2018-01-06 15:34:00  ...        10.5            4.6
3 2018-01-06 15:34:00 2018-01-09 04:43:00  ...         2.7            6.4
4 2018-01-09 04:43:00 2018-01-10 16:55:00  ...        18.0            3.7

[5 rows x 18 columns]

In [30]:
date = env.index.to_list()
result_list = []

for i in date:

  try:

    df = route[(route["Date from"] <= i) & (route["Date to"] >= i)]
    df = df.iloc[0,:].values
    result_list.append(df)

  except:

    empty_list = np.empty((1,15))
    empty_list[:] = np.nan
    result_list.append(empty_list[0].tolist())

df = pd.DataFrame(result_list,columns=route.columns,index=env.index)

In [31]:
df

                              Date from  ... Avg. Win Speed
Date                                     ...
2018-01-01 06:00:00                 NaT  ...            NaN
2018-01-01 12:00:00                 NaT  ...            NaN
2018-01-01 18:00:00                 NaT  ...            NaN
2018-01-02 00:00:00 2018-01-01 21:30:00  ...            5.1
2018-01-03 06:00:00 2018-01-01 21:30:00  ...            5.1
...                                 ...  ...            ...
2018-12-27 18:00:00 2018-12-27 02:22:00  ...            4.6
2018-12-28 00:00:00 2018-12-27 02:22:00  ...            4.6
2018-12-28 06:00:00 2018-12-27 02:22:00  ...            4.6
2018-12-28 12:00:00 2018-12-27 02:22:00  ...            4.6
2018-12-28 18:00:00 2018-12-27 02:22:00  ...            4.6

[1267 rows x 18 columns]

In [32]:
env = pd.concat([env,df],axis=1)

In [34]:
env.isnull().sum()

Vessel Latitude           0
Vessel Longitude          0
Vessel Speed (Kts)        0
Vessel Heading            0
Wave Height (m)           0
Wave Period (s)           0
Wind U (m/s)              0
Wind V (m/s)              0
Date from               156
Date to                 156
days                    156
Port from               156
Port to                 156
Distance                156
T from                  156
T to                    156
Loaing Status          1267
Mega-Ton-Mile           156
Cargo Carried           156
DFOC                    156
Wave (per Distance)     156
Acc. Fatigue Inex       156
Wind (per Distance)     156
Avg. Wave Height        156
Avg. Speed              156
Avg. Win Speed          156
dtype: int64

In [36]:
env.drop("Loaing Status",axis=1,inplace=True)

# Port from

In [37]:
train_df = env[env["Port from"] != "unkown"]
val_df = env[env["Port from"] == "unkown"]

train_df.dropna(inplace=True)
val_df.dropna(inplace=True)

date_from = val_df["Date from"].to_frame(name="Date from")
date_to = val_df["Date to"].to_frame(name="Date to")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [38]:
train_df.drop(["Port to","Date from","Date to"],axis=1,inplace=True)
val_df.drop(["Port to","Date from","Date to"],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [39]:
X_train = train_df.drop("Port from",axis=1)
y_train = train_df.loc[:,"Port from"].to_frame(name="Port from")
X_val = val_df.drop("Port from",axis=1)
y_val = val_df.loc[:,"Port from"].to_frame(name="Port from")

In [18]:
scaler = MinMaxScaler()
encoder = LabelEncoder()

In [40]:
X_train = pd.DataFrame(scaler.fit_transform(X_train),index=X_train.index,columns=X_train.columns)
y_train = pd.DataFrame(encoder.fit_transform(y_train),index=y_train.index,columns=y_train.columns)
X_val = pd.DataFrame(scaler.fit_transform(X_val),index=X_val.index,columns=X_val.columns)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [41]:
 X_train, X_test, y_train, y_test = train_test_split(X_train,y_train,test_size=0.5)

In [42]:
RFC = RandomForestClassifier()

RFC.fit(X_train,y_train)
pred = RFC.predict(X_test)
accuracy = accuracy_score(y_test,pred)
f1 = f1_score(y_test,pred,average="micro")
print(accuracy)
print(f1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.986328125
0.986328125

In [43]:
val_pred = encoder.inverse_transform(RFC.predict(X_val))

In [44]:
port_from_result = pd.DataFrame(val_pred,index=val_df.index,columns=["Port from"])
port_from_result = pd.concat([port_from_result,date_from,date_to],axis=1)

In [45]:
port_from_result

                    Port from           Date from             Date to
Date
2018-01-03 12:00:00     I0238 2018-01-03 10:19:00 2018-01-05 11:15:00
2018-01-04 00:00:00     I0238 2018-01-03 10:19:00 2018-01-05 11:15:00
2018-01-04 06:00:00     I0238 2018-01-03 10:19:00 2018-01-05 11:15:00
2018-01-04 12:00:00     I0238 2018-01-03 10:19:00 2018-01-05 11:15:00
2018-01-04 18:00:00     I0238 2018-01-03 10:19:00 2018-01-05 11:15:00
...                       ...                 ...                 ...
2018-12-18 12:00:00     I0238 2018-12-17 17:20:00 2018-12-19 23:54:00
2018-12-19 00:00:00     I0238 2018-12-17 17:20:00 2018-12-19 23:54:00
2018-12-19 06:00:00     I0238 2018-12-17 17:20:00 2018-12-19 23:54:00
2018-12-19 12:00:00     I0238 2018-12-17 17:20:00 2018-12-19 23:54:00
2018-12-19 18:00:00     I0238 2018-12-17 17:20:00 2018-12-19 23:54:00

[88 rows x 3 columns]

In [ ]:
port_from_result.to_csv("/content/drive/MyDrive/Dataset/upa/result/port_from_result.csv")

# Port to

In [46]:
train_df = env[env["Port to"] != "unkown"]
val_df = env[env["Port to"] == "unkown"]

train_df.dropna(inplace=True)
val_df.dropna(inplace=True)

date_from = val_df["Date from"].to_frame(name="Date from")
date_to = val_df["Date to"].to_frame(name="Date to")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [47]:
train_df.drop(["Port from","Date from","Date to"],axis=1,inplace=True)
val_df.drop(["Port from","Date from","Date to"],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
train_df

                     Vessel Latitude  ...  Avg. Win Speed
Date                                  ...
2018-01-03 12:00:00         34.14310  ...             3.6
2018-01-04 00:00:00         31.20940  ...             3.6
2018-01-04 06:00:00         31.95590  ...             3.6
2018-01-04 12:00:00         32.70240  ...             3.6
2018-01-04 18:00:00         33.44890  ...             3.6
...                              ...  ...             ...
2018-12-27 18:00:00          5.66443  ...             4.6
2018-12-28 00:00:00          5.71861  ...             4.6
2018-12-28 06:00:00          5.85843  ...             4.6
2018-12-28 12:00:00          5.79450  ...             4.6
2018-12-28 18:00:00          5.95544  ...             4.6

[919 rows x 22 columns]

In [50]:
X_train = train_df.drop("Port to",axis=1)
y_train = train_df.loc[:,"Port to"].to_frame(name="Port to")
X_val = val_df.drop("Port to",axis=1)
y_val = val_df.loc[:,"Port to"].to_frame(name="Port from")

In [51]:
X_train = pd.DataFrame(scaler.fit_transform(X_train),index=X_train.index,columns=X_train.columns)
y_train = pd.DataFrame(encoder.fit_transform(y_train),index=y_train.index,columns=y_train.columns)
X_val = pd.DataFrame(scaler.fit_transform(X_val),index=X_val.index,columns=X_val.columns)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [52]:
 X_train, X_test, y_train, y_test = train_test_split(X_train,y_train,test_size=0.5)

In [53]:
RFC = RandomForestClassifier()

RFC.fit(X_train,y_train)
pred = RFC.predict(X_test)
accuracy = accuracy_score(y_test,pred)
f1 = f1_score(y_test,pred,average="micro")
print(accuracy)
print(f1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9652173913043478
0.9652173913043478

In [54]:
val_pred = encoder.inverse_transform(RFC.predict(X_val))

In [55]:
port_to_result = pd.DataFrame(val_pred,index=val_df.index,columns=["Port to"])
port_to_result = pd.concat([port_to_result,date_from,date_to],axis=1)

In [65]:
result = port_to_result.groupby("Date to")["Port to"].value_counts().to_frame(name="Count")

In [66]:
result.to_csv("/content/drive/MyDrive/Dataset/upa/result/C-001_port_to_result.csv")